.myButton {
    padding: 15px clamp(10px, 2vw, 35px);

    border-radius: clamp(15px, 2.5vw, 40px);

    box-sizing: content-box;

    font-size: clamp(10px, 1.2vw, 30px);
    color: white;
    cursor: pointer;

    transition: background-color .3s;
}

.transparentBg {
    background: none;
    border: 1px solid var(--main-red);
}

.transparentBg:hover {
    background: var(--main-red);
}