:root {
    --first-bg-color: #2D2F4A;
    --second-bg-color: #202135;

    --main-red: #E4344F;
    --main-blue: #45AFE3;

    --card-color: #30314D;
}

#root {
    width: 100%;
    min-height: 100vh;

    background: linear-gradient(0deg, var(--first-bg-color), var(--second-bg-color));
}

main {
    padding: clamp(100px, 12vw, 200px) min(10%, 300px) 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}