.default {
    width: 100%;
    height: clamp(100px, 12vw, 200px);

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    padding: 0 min(10%, 300px);
    transition: height .3s;

    z-index: 10;
}

.scrolled {
    height: 75px;
}

.logo {
    width: clamp(50px, 8vw, 100px);
    height: auto;

    transition: all .3s;
}

.scrolled .logo {
    width: 50px;
}

.showNavBtn {
    padding: clamp(5px, 2vw, 20px);
    margin-left: 5px;

    border-radius: 10px;
    border: 2px solid var(--main-blue);

    background: none;

    display: flex;
    align-items: center;

    display: none;

    transition: all .3s;
    cursor: pointer;
}

.showNavBtn:hover {
    background-color: var(--main-blue);
}

@media (max-width: 600px) {
    .showNavBtn {
        display: flex;
    }
}
